# Lending Club Data Credit Risk Analysis - Predizione dei Default

In [70]:
import os
import pandas as pd
import numpy as np

In [71]:
data = pd.read_csv('loan.csv')

print(data.shape)
data.head()

(39717, 111)

/home/valerio/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [72]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [73]:
data.loan_status.value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [74]:
data = data[(data['loan_status'] == 'Fully Paid') | (data['loan_status'] == 'Charged Off')]

In [75]:
data.loan_status.value_counts()

Fully Paid     32950
Charged Off     5627
Name: loan_status, dtype: int64

In [77]:

## FIX i warning

data.loan_status[(data['loan_status']  == 'Fully Paid')]=0
data.loan_status[(data['loan_status']  == 'Charged Off')]=1

/tmp/ipykernel_18719/2251110599.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loan_status[data['loan_status']  == 'Fully Paid']=0
/tmp/ipykernel_18719/2251110599.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loan_status[(data['loan_status']  == 'Charged Off')]=1

In [47]:
data['loan_status'].head()

0    0
1    1
2    0
3    0
5    0
Name: loan_status, dtype: object

In [48]:
data.loan_status.astype(float)

0        0.0
1        1.0
2        0.0
3        0.0
5        0.0
        ...
39712    0.0
39713    0.0
39714    0.0
39715    0.0
39716    0.0
Name: loan_status, Length: 38577, dtype: float64

In [49]:
len(data.columns)

111

In [50]:
def unique_non_null(df):
    return df.dropna().unique()

In [51]:
uniqueValue = []
for col in data.columns:
    colUniqueValuesCount = len(unique_non_null(data[col]))
    uniqueValue.append(colUniqueValuesCount > 1)
    print(col, "\t", colUniqueValuesCount)                  # DA FORMATTARE MEGLIO

id 	 38577
member_id 	 38577
loan_amnt 	 870
funded_amnt 	 1019
funded_amnt_inv 	 8050
term 	 2
int_rate 	 370
installment 	 15022
grade 	 7
sub_grade 	 35
emp_title 	 28027
emp_length 	 11
home_ownership 	 5
annual_inc 	 5215
verification_status 	 3
issue_d 	 55
loan_status 	 2
pymnt_plan 	 1
url 	 38577
desc 	 25803
purpose 	 14
title 	 19297
zip_code 	 822
addr_state 	 50
dti 	 2853
delinq_2yrs 	 11
earliest_cr_line 	 524
inq_last_6mths 	 9
mths_since_last_delinq 	 95
mths_since_last_record 	 111
open_acc 	 40
pub_rec 	 5
revol_bal 	 21275
revol_util 	 1088
total_acc 	 82
initial_list_status 	 1
out_prncp 	 1
out_prncp_inv 	 1
total_pymnt 	 36714
total_pymnt_inv 	 36387
total_rec_prncp 	 6841
total_rec_int 	 34025
total_rec_late_fee 	 1320
recoveries 	 4040
collection_recovery_fee 	 2616
last_pymnt_d 	 101
last_pymnt_amnt 	 34418
next_pymnt_d 	 0
last_credit_pull_d 	 106
collections_12_mths_ex_med 	 1
mths_since_last_major_derog 	 0
policy_code 	 1
application_type 	 1
annual_inc_joint 	 0
dti_joint 	 0
verification_status_joint 	 0
acc_now_delinq 	 1
tot_coll_amt 	 0
tot_cur_bal 	 0
open_acc_6m 	 0
open_il_6m 	 0
open_il_12m 	 0
open_il_24m 	 0
mths_since_rcnt_il 	 0
total_bal_il 	 0
il_util 	 0
open_rv_12m 	 0
open_rv_24m 	 0
max_bal_bc 	 0
all_util 	 0
total_rev_hi_lim 	 0
inq_fi 	 0
total_cu_tl 	 0
inq_last_12m 	 0
acc_open_past_24mths 	 0
avg_cur_bal 	 0
bc_open_to_buy 	 0
bc_util 	 0
chargeoff_within_12_mths 	 1
delinq_amnt 	 1
mo_sin_old_il_acct 	 0
mo_sin_old_rev_tl_op 	 0
mo_sin_rcnt_rev_tl_op 	 0
mo_sin_rcnt_tl 	 0
mort_acc 	 0
mths_since_recent_bc 	 0
mths_since_recent_bc_dlq 	 0
mths_since_recent_inq 	 0
mths_since_recent_revol_delinq 	 0
num_accts_ever_120_pd 	 0
num_actv_bc_tl 	 0
num_actv_rev_tl 	 0
num_bc_sats 	 0
num_bc_tl 	 0
num_il_tl 	 0
num_op_rev_tl 	 0
num_rev_accts 	 0
num_rev_tl_bal_gt_0 	 0
num_sats 	 0
num_tl_120dpd_2m 	 0
num_tl_30dpd 	 0
num_tl_90g_dpd_24m 	 0
num_tl_op_past_12m 	 0
pct_tl_nvr_dlq 	 0
percent_bc_gt_75 	 0
pub_rec_bankruptcies 	 3
tax_liens 	 1
tot_hi_cred_lim 	 0
total_bal_ex_mort 	 0
total_bc_limit 	 0
total_il_high_credit_limit 	 0

In [52]:
data = data.loc[:, uniqueValue]

In [53]:
len(data.columns)

#data.columns

45

In [54]:
percentageNanInRow = np.ones(len(data))*len(data.columns)


percentageNanInRow = np.divide((data.isna().sum(axis=1)) , percentageNanInRow)
percentageNanInRow

0        0.066667
1        0.044444
2        0.088889
3        0.022222
5        0.066667
           ...
39712    0.022222
39713    0.022222
39714    0.066667
39715    0.066667
39716    0.022222
Length: 38577, dtype: float64

In [55]:
np.max(percentageNanInRow)

0.13333333333333333

In [56]:
categorical_features=[]
numerical_features=[]

Vengono selezionati solo gli attributi che risultano utili al fine della predizione

In [57]:
colIdx = range(0,10)
data.iloc[:,colIdx].head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1
5,1075269,1311441,5000,5000,5000.0,36 months,7.90%,156.46,A,A4
6,1069639,1304742,7000,7000,7000.0,60 months,15.96%,170.08,C,C5
7,1072053,1288686,3000,3000,3000.0,36 months,18.64%,109.43,E,E1
8,1071795,1306957,5600,5600,5600.0,60 months,21.28%,152.39,F,F2
9,1071570,1306721,5375,5375,5350.0,60 months,12.69%,121.45,B,B5
10,1070078,1305201,6500,6500,6500.0,60 months,14.65%,153.45,C,C3

<b>Attributi scartati:</b>

*id* e *member_id*: codici identificativi non utili per la predizione

*funded_amnt* e *funded_amnt_inv*: attributi che non sono disponibili al momento della scelta se effettuare il prestito o no

*grade* e *sub_grade*: attributi in stretta dipendenza con la feature *int_rate*

In [58]:
categorical_features.append('term')
numerical_features.append('loan_amnt')
numerical_features.append('installment')
numerical_features.append('int_rate')

In [59]:
colIdx = range(10,20)
data.iloc[:,colIdx].head(10)

,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,url,desc,purpose
0,NaN,10+ years,RENT,24000.0,Verified,Dec-11,0,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card
1,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,1,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car
2,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,0,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business
3,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,0,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other
5,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,Dec-11,0,https://lendingclub.com/browse/loanDetail.acti...,NaN,wedding
6,Southern Star Photography,8 years,RENT,47004.0,Not Verified,Dec-11,0,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/18/11 > I am planning o...,debt_consolidation
7,MKC Accounting,9 years,RENT,48000.0,Source Verified,Dec-11,0,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/16/11 > Downpayment for...,car
8,NaN,4 years,OWN,40000.0,Source Verified,Dec-11,1,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I own a small h...,small_business
9,Starbucks,< 1 year,RENT,15000.0,Verified,Dec-11,1,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/16/11 > I'm trying to b...,other
10,Southwest Rural metro,5 years,OWN,72000.0,Not Verified,Dec-11,0,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/15/11 > I had recived a...,debt_consolidation

<b>Attributi scartati:</b>

*emp_title* e *issue_d*: attributi non utili per la predizione

*loan_status*: attributo sul quale di vuole effettuare la predizione

*url* e *desc*: attributi non utili per la predizione

In [60]:
categorical_features.append('home_ownership')
categorical_features.append('purpose')
categorical_features.append('verification_status')
numerical_features.append('emp_length')
numerical_features.append('annual_inc')

In [61]:
colIdx = range(20,30)
data.iloc[:,colIdx].head(10)

,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc
0,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3
1,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3
2,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2
3,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10
5,My wedding loan I promise to pay back,852xx,AZ,11.20,0,Nov-04,3,NaN,NaN,9
6,Loan,280xx,NC,23.51,0,Jul-05,1,NaN,NaN,7
7,Car Downpayment,900xx,CA,5.35,0,Jan-07,2,NaN,NaN,4
8,Expand Business & Buy Debt Portfolio,958xx,CA,5.55,0,Apr-04,2,NaN,NaN,11
9,Building my credit history.,774xx,TX,18.08,0,Sep-04,0,NaN,NaN,2
10,High intrest Consolidation,853xx,AZ,16.12,0,Jan-98,2,NaN,NaN,14

<b>Attributi scartati:</b>

*title*, *zip_code*, *addr_state*: attributi che risultano non essere correlati con la predizione

*mths_since_last_delinq*:

*mths_since_last_record*:

In [62]:
numerical_features.append('delinq_2yrs')
numerical_features.append('earliest_cr_line')
numerical_features.append('open_acc')
numerical_features.append('inq_last_6mths')
numerical_features.append('dti')

In [63]:
colIdx = range(30,len(data.columns))
data.iloc[:,colIdx].head(10)

,pub_rec,revol_bal,revol_util,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,0,13648,83.70%,9,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0
1,0,1687,9.40%,4,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0
2,0,2956,98.50%,10,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0
3,0,5598,21%,37,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0
5,0,7963,28.30%,12,5632.210000,5632.21,5000.00,632.21,0.00,0.00,0.00,Jan-15,161.03,Jan-16,0.0
6,0,17726,85.60%,11,10110.840000,10110.84,6985.61,3125.23,0.00,0.00,0.00,May-16,1313.76,May-16,0.0
7,0,8221,87.50%,4,3939.135294,3939.14,3000.00,939.14,0.00,0.00,0.00,Jan-15,111.34,Dec-14,0.0
8,0,5210,32.60%,13,646.020000,646.02,162.02,294.94,0.00,189.06,2.09,Apr-12,152.39,Aug-12,0.0
9,0,9279,36.50%,3,1476.190000,1469.34,673.48,533.42,0.00,269.29,2.52,Nov-12,121.45,Mar-13,0.0
10,0,4032,20.60%,23,7678.017673,7678.02,6500.00,1178.02,0.00,0.00,0.00,Jun-13,1655.54,Dec-15,0.0

In [64]:
numerical_features.append('pub_rec')
numerical_features.append('revol_util')
numerical_features.append('revol_bal')
numerical_features.append('last_credit_pull_d')
numerical_features.append('pub_rec_bankruptcies')

In [65]:
categorical_features

['term', 'home_ownership', 'purpose', 'verification_status']

In [66]:
numerical_features

['loan_amnt',
 'installment',
 'int_rate',
 'emp_length',
 'annual_inc',
 'delinq_2yrs',
 'earliest_cr_line',
 'open_acc',
 'inq_last_6mths',
 'dti',
 'pub_rec',
 'revol_util',
 'revol_bal',
 'last_credit_pull_d',
 'pub_rec_bankruptcies']

In [68]:
data_categorical=pd.DataFrame()
for col in categorical_features:
    data_categorical=pd.concat([ data_categorical, data[col]], axis= 1)

data_categorical.head()

         term home_ownership         purpose verification_status
0   36 months           RENT     credit_card            Verified
1   60 months           RENT             car     Source Verified
2   36 months           RENT  small_business        Not Verified
3   36 months           RENT           other     Source Verified
5   36 months           RENT         wedding     Source Verified

In [69]:
data_numerical=pd.DataFrame()
for col in numerical_features:
    data_numerical=pd.concat([ data_numerical, data[col]], axis= 1)

data_numerical.head()

,loan_amnt,installment,int_rate,emp_length,annual_inc,delinq_2yrs,earliest_cr_line,open_acc,inq_last_6mths,dti,pub_rec,revol_util,revol_bal,last_credit_pull_d,pub_rec_bankruptcies
0,5000,162.87,10.65%,10+ years,24000.0,0,Jan-85,3,1,27.65,0,83.70%,13648,May-16,0.0
1,2500,59.83,15.27%,< 1 year,30000.0,0,Apr-99,3,5,1.00,0,9.40%,1687,Sep-13,0.0
2,2400,84.33,15.96%,10+ years,12252.0,0,Nov-01,2,2,8.72,0,98.50%,2956,May-16,0.0
3,10000,339.31,13.49%,10+ years,49200.0,0,Feb-96,10,1,20.00,0,21%,5598,Apr-16,0.0
5,5000,156.46,7.90%,3 years,36000.0,0,Nov-04,9,3,11.20,0,28.30%,7963,Jan-16,0.0

In [ ]:
# Il dataset presenta righe non correttamente formattate

path = './loan_formatted.csv'

if not(os.path.exists("path")):