# Lending Club Data Credit Risk Analysis - Predizione dei Default

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('loan.csv')

print(data.shape)
data.head()

(39717, 111)

c:\Users\fabia\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [4]:
data.loan_status.value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [5]:
data = data[(data['loan_status'] == 'Fully Paid') | (data['loan_status'] == 'Charged Off')]

In [6]:
data.loan_status.value_counts()

Fully Paid     32950
Charged Off     5627
Name: loan_status, dtype: int64

In [7]:

## FIX i warning

data.loan_status[(data['loan_status']  == 'Fully Paid')]=0
data.loan_status[(data['loan_status']  == 'Charged Off')]=1

C:\Users\fabia\AppData\Local\Temp/ipykernel_17780/3714874871.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loan_status[(data['loan_status']  == 'Charged Off')]=1

In [8]:
data['loan_status'].head()

0    0
1    1
2    0
3    0
5    0
Name: loan_status, dtype: object

In [9]:
data.loan_status.astype(float)

0        0.0
1        1.0
2        0.0
3        0.0
5        0.0
        ...
39712    0.0
39713    0.0
39714    0.0
39715    0.0
39716    0.0
Name: loan_status, Length: 38577, dtype: float64

In [10]:
len(data.columns)

111

In [11]:
def unique_non_null(df):
    return df.dropna().unique()

In [12]:
uniqueValue = []
for col in data.columns:
    colUniqueValuesCount = len(unique_non_null(data[col]))
    uniqueValue.append(colUniqueValuesCount > 1)
    print(col, "\t", colUniqueValuesCount)                  # DA FORMATTARE MEGLIO

id 	 38577
member_id 	 38577
loan_amnt 	 870
funded_amnt 	 1019
funded_amnt_inv 	 8050
term 	 2
int_rate 	 370
installment 	 15022
grade 	 7
sub_grade 	 35
emp_title 	 28027
emp_length 	 11
home_ownership 	 5
annual_inc 	 5215
verification_status 	 3
issue_d 	 55
loan_status 	 2
pymnt_plan 	 1
url 	 38577
desc 	 25803
purpose 	 14
title 	 19297
zip_code 	 822
addr_state 	 50
dti 	 2853
delinq_2yrs 	 11
earliest_cr_line 	 524
inq_last_6mths 	 9
mths_since_last_delinq 	 95
mths_since_last_record 	 111
open_acc 	 40
pub_rec 	 5
revol_bal 	 21275
revol_util 	 1088
total_acc 	 82
initial_list_status 	 1
out_prncp 	 1
out_prncp_inv 	 1
total_pymnt 	 36714
total_pymnt_inv 	 36387
total_rec_prncp 	 6841
total_rec_int 	 34025
total_rec_late_fee 	 1320
recoveries 	 4040
collection_recovery_fee 	 2616
last_pymnt_d 	 101
last_pymnt_amnt 	 34418
next_pymnt_d 	 0
last_credit_pull_d 	 106
collections_12_mths_ex_med 	 1
mths_since_last_major_derog 	 0
policy_code 	 1
application_type 	 1
annual_inc_joint 	 0
dti_joint 	 0
verification_status_joint 	 0
acc_now_delinq 	 1
tot_coll_amt 	 0
tot_cur_bal 	 0
open_acc_6m 	 0
open_il_6m 	 0
open_il_12m 	 0
open_il_24m 	 0
mths_since_rcnt_il 	 0
total_bal_il 	 0
il_util 	 0
open_rv_12m 	 0
open_rv_24m 	 0
max_bal_bc 	 0
all_util 	 0
total_rev_hi_lim 	 0
inq_fi 	 0
total_cu_tl 	 0
inq_last_12m 	 0
acc_open_past_24mths 	 0
avg_cur_bal 	 0
bc_open_to_buy 	 0
bc_util 	 0
chargeoff_within_12_mths 	 1
delinq_amnt 	 1
mo_sin_old_il_acct 	 0
mo_sin_old_rev_tl_op 	 0
mo_sin_rcnt_rev_tl_op 	 0
mo_sin_rcnt_tl 	 0
mort_acc 	 0
mths_since_recent_bc 	 0
mths_since_recent_bc_dlq 	 0
mths_since_recent_inq 	 0
mths_since_recent_revol_delinq 	 0
num_accts_ever_120_pd 	 0
num_actv_bc_tl 	 0
num_actv_rev_tl 	 0
num_bc_sats 	 0
num_bc_tl 	 0
num_il_tl 	 0
num_op_rev_tl 	 0
num_rev_accts 	 0
num_rev_tl_bal_gt_0 	 0
num_sats 	 0
num_tl_120dpd_2m 	 0
num_tl_30dpd 	 0
num_tl_90g_dpd_24m 	 0
num_tl_op_past_12m 	 0
pct_tl_nvr_dlq 	 0
percent_bc_gt_75 	 0
pub_rec_bankruptcies 	 3
tax_liens 	 1
tot_hi_cred_lim 	 0
total_bal_ex_mort 	 0
total_bc_limit 	 0
total_il_high_credit_limit 	 0

In [13]:
data = data.loc[:, uniqueValue]

In [19]:
len(data.columns)

data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'pub_rec_bankruptcies'],
      dtype='object')

In [18]:
percentageNanInRow = np.ones(len(data))*len(data.columns)


percentageNanInRow = np.divide((data.isna().sum(axis=1)) , percentageNanInRow)
percentageNanInRow

0        0.066667
1        0.044444
2        0.088889
3        0.022222
5        0.066667
           ...
39712    0.022222
39713    0.022222
39714    0.066667
39715    0.066667
39716    0.022222
Length: 38577, dtype: float64

In [21]:
np.max(percentageNanInRow)

0.13333333333333333

In [ ]:
# Il dataset presenta righe non correttamente formattate

path = './loan_formatted.csv'

if not(os.path.exists("path")):